name: Lint && Test (Yarn)

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      YARN_CACHE_FOLDER: .cache/yarn
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
      - name: Prepare Yarn
        run: |
          corepack enable
          corepack prepare yarn@1.22.22 --activate
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run ESLint
        run: yarn lint

  test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      YARN_CACHE_FOLDER: .cache/yarn
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
      - name: Prepare Yarn
        run: |
          corepack enable
          corepack prepare yarn@1.22.22 --activate
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run tests
        run: yarn test
